body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh !important;
  background-color: #f4f4f4;
}

*{
  box-sizing: border-box;
}

header {
  height: 10%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
/*   position: sticky;
  top: 0px; */
}

.user-list {
  flex: 1;
}

.user-list-scrollable {
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

section {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

table {
  
  border-collapse: collapse;
  table-layout: fixed;
}

thead{
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 0;
}

.user-list-scrollable::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.user-list-scrollable::-webkit-scrollbar-track {
  background: #b6b5b5;        /* color of the tracking area */
}

.user-list-scrollable::-webkit-scrollbar-thumb {
  background-color: #ddd;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #b6b5b5;  /* creates padding around scroll thumb */
}
/* .user-list {
  overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
  /* height: 20px; */ /* gives an initial height of 200px to the table */
/* } */
/*  .user-list thead th {
  position: sticky; 
  top: 0px; 
}  */

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  
  background-color: #333;
  color: #fff;
  
}

td .EditButton {
  padding: 8px;
  width: 60px;
  background-color: rgba(120, 140, 226, 0.7);
  border: 1px solid rgba(63, 74, 121, 0.9);
  cursor: pointer;
}

td .DeleteButton {
  padding: 8px;
  width: 60px;
  background-color: rgba(226, 150, 120, 0.7);
  border: 1px solid rgba(119, 79, 63, 0.7);
  cursor: pointer;
}

.user-form {
  flex: 1;
  padding: 20px;
  border-radius: 8px;

}

form {
  max-width: 200px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}



:root {
  --sucesspage-list: url(./assets/images/icon-list.svg);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --tomato: hsl(4, 100%, 67%);
  --white: hsl(0, 0%, 100%);
}


.edit_modal {
  margin: auto;
  height: 60vh;
  width: 25%;
  border: none;
  border-radius: 1rem;
  opacity: 0;
  scale: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
  box-shadow: 4px 8px 10px var(--grey);
}

.edit_modal[open]{
  opacity: 1;
  scale: 1;
}

dialog::backdrop {
  background-color: rgba(200,200,200, 0.25)/* hsl(234, 29%, 20%) */;
} 

.edit_modal_container {
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
/*   position: relative;
  top: 25%; 
  left: 25%;*/
  gap: 1.2rem; 
  

}

#form_div form{
  display: grid;
  max-width: 400px;
}


/* container */
#is_admin_label {
  position: relative; /* to contain absolute elements */
  padding-left:30px; /* free space for custom checkbox */
  cursor: pointer;
  margin-bottom: 10px;
}

/* hide default checkbox  */
#is_admin_label input[type=checkbox] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  opacity: 0;
  width:0; 
  height:0;
}

/* custom checkbox */
#is_admin_label span {
  position: absolute;
  /* position to the free space in <label> */
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #ddd;
  transition: .3s background-color; /* slight transition */
}

/* the check icon */
#is_admin_label span:after {
  content: "";
  position: absolute;
  display: none;
  
  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#is_admin_label:hover span {
  background-color: #ccc;
}

/**** Here's the trick ***/
#is_admin_label input:checked ~ span {
  background-color: #2eaadc;
}

#is_admin_label input:checked ~ span:after {
  display:block;
}

#update_user_form input{
  width: 100%;
}

#update_user_submit{
  border: 0;
  border-radius: 0.4rem;
  box-shadow: 1px 2px 5px var(--grey);
}

#update_user_submit:hover{
  background-color: rgba(200, 200, 200, 0.45);
}

.edit_modal_head {
  max-width: 400px;
  margin: 0 auto;
  font-size: 2.5em;
  color: var(--dark-slate-grey);
}

.edit_modal_head p{
  margin: 0;
}



/* .success__note {
  max-width: 200px;
  margin: 0 auto;
  color: var(--dark-slate-grey);
  line-height: 1.5rem;
} */

/* #user__email__address {
  font-weight: 700;
} */

.dismiss__btn {
  padding: 0.9rem;
  background: var(--dark-slate-grey);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 1px 2px 5px var(--grey);
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.dismiss__btn:hover {
  background: linear-gradient(0.25turn, #e04313, hsl(4, 100%, 67%));

}

#logOutBtn {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}